<% set_page_title(t('errors.return_from_one_login_session_missing.title'), t("gov_uk_forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('errors.return_from_one_login_session_missing.title') %></h1>

    <%= t("errors.return_from_one_login_session_missing.body_html") %>
  </div>
</div>
