<% set_page_title(t('.title'), t("gov_uk_forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: t('.title'), classes: "govuk-!-margin-bottom-7") %>

    <p><%= t('.email_sent') %></p>
  </div>
</div>
